#* @vtlvariable name="data" type="com.kneelawk.marionette.rt.instance.template.MinecraftServerInstanceTData" *#
package ${data.packageName};

import com.google.common.util.concurrent.ListenableFuture;
import com.google.common.util.concurrent.SettableFuture;
import com.kneelawk.marionette.rt.instance.AbstractMinecraftInstance;
import com.kneelawk.marionette.rt.instance.LogWatcherThread;

import java.rmi.RemoteException;

#foreach($im in ${data.importNames})
import $im;
#end

public class ${data.className} extends AbstractMinecraftInstance {
    private final ${data.rmiClass} rmiAccess;

    public ${data.className}(Process process, LogWatcherThread outWatcher,
                                   LogWatcherThread errWatcher, ${data.rmiClass} rmiAccess) {
        super(process, outWatcher, errWatcher);
        this.rmiAccess = rmiAccess;
    }

    @Override
    public void startMinecraft() throws RemoteException {
        rmiAccess.start();
    }
}
