#* @vtlvariable name="data" type="com.kneelawk.marionette.rt.mod.client.template.MinecraftClientAccessTData" *#
#* @vtlvariable name="utils" type="com.kneelawk.marionette.rt.template.TemplateUtils" *#
package ${data.packageName};

import com.kneelawk.marionette.rt.mod.AbstractMinecraftAccess;
import com.kneelawk.marionette.rt.rmi.RMIRunnable;

import java.rmi.RemoteException;

#foreach($im in ${data.importNames})
import $im;
#end

public class ${data.className} extends AbstractMinecraftAccess implements ${data.rmiClass} {
#foreach($signal in $data.signalNames)
#set($funcName = $utils.lowerCamelCase.to($utils.upperCamelCase, $signal))

    @Override
    public void add${funcName}Signal(RMIRunnable callback) throws RemoteException {
        ${data.signalClass}.add${funcName}Listener(callback);
    }
#end
#foreach($queue in $data.queueCallbacks)
#set($funcName = $utils.lowerCamelCase.to($utils.upperCamelCase, $queue.callbackName))

    @Override
    public void add${funcName}Callback($queue.callbackClass callback) {
        ${data.queueClass}.add${funcName}Callback(callback);
    }
#end
}
