#* @vtlvariable name="data" type="com.kneelawk.marionette.rt.proxy.template.ProxyInterfaceTData" *#
#* @vtlvariable name="utils" type="com.kneelawk.marionette.rt.template.TemplateUtils" *#
package $data.packageName;

import com.kneelawk.marionette.rt.rmi.CurrentThread;

import java.rmi.Remote;

#foreach($im in ${data.importNames})
import $im;
#end

public interface $data.className extends Remote#if(!$utils.isNull($data.superClass)), $data.superClass#end {
#foreach($method in $data.methods)

    $method.returnType ${method.methodName}(CurrentThread thread$utils.joinParameters($method.parameterTypes, true))#if(!$method.exceptionTypes.isEmpty()) throws $utils.join($method.exceptionTypes, ", ")#end;
#end
#foreach($getter in $data.getters)
#set($funcName = $utils.lowerCamelCase.to($utils.upperCamelCase, $getter.name))

    public $getter.type get${funcName}() throws RemoteException;

    public $getter.type get${funcName}(CurrentThread thread) throws RemoteException;
#end
#foreach($setter in $data.setters)
#set($funcName = $utils.lowerCamelCase.to($utils.upperCamelCase, $setter.name))

    public void set${funcName}($setter.type p0) throws RemoteException;

    public void set${funcName}(CurrentThread thread, $setter.type p0) throws RemoteException;
#end
}
