#* @vtlvariable name="data" type="com.kneelawk.marionette.rt.mod.template.MarionetteModPreLaunchTData" *#
package ${data.packageName};

import com.kneelawk.marionette.rt.MarionetteConstants;
import com.kneelawk.marionette.rt.mod.AbstractMinecraftAccess;
import net.fabricmc.loader.api.entrypoint.PreLaunchEntrypoint;

#foreach($im in ${data.importNames})
import $im;
#end

public class ${data.className} implements PreLaunchEntrypoint {
    @Override
    public void onPreLaunch() {
        String env = requiredProperty(MarionetteConstants.ENVIRONMENT_PROPERTY);
        String instanceName = requiredProperty(MarionetteConstants.INSTANCE_NAME_PROPERTY);
        int rmiPort = Integer.parseInt(requiredProperty(MarionetteConstants.RMI_PORT_PROPERTY));

        AbstractMinecraftAccess access;
        if ("client".equals(env)) {
            access = ${data.clientPreLaunch}.setup(instanceName, rmiPort);
        } else if ("server".equals(env)) {
            access = ${data.serverPreLaunch}.setup(instanceName, rmiPort);
        } else {
            throw new IllegalArgumentException("Unknown fabric.dli.env value: " + env);
        }

        try {
            access.awaitStart();
        } catch (InterruptedException e) {
            e.printStackTrace();
        }
    }

    public String requiredProperty(String name) {
        String value = System.getProperty(name);
        if (value == null) {
            throw new IllegalArgumentException("Property `" + name + "` is missing. Marionette cannot start.");
        }
        return value;
    }
}
